.header {
  color: white;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;

  /* Scrollbar */
  -ms-overflow-style: none; /** IE and EDGE */
  scrollbar-width: none; /** FIREFOX */
}

.header::-webkit-scrollbar {
  display: none;
}

.header__icons {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__icon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  cursor: pointer;
}

.header__icon > .MuiSvgIcon-root {
  margin: 0 auto;
  font-size: 30px;
}

.header__icon > p {
  display: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: auto;
  margin-left: auto;
  font-size: small;
}

.header__icon:hover > p {
  display: inline-flex;
}

.header__icon--active > p {
  display: inline-flex !important;
}

.header > img {
  object-fit: contain;
  height: 80px;
}
